.animal-gallery {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.animal-gallery__img:hover {
  cursor: pointer;
}

@media screen {
  .animal-gallery__img {
    width: 20%;
  }
}

@media screen and (min-width: 576px) {
  .animal-gallery__img {
    width: 25%;
  }
  .animal-gallery {
    padding-top: 30px;
  }
}
