.animal--gallery {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  /* justify-content: flex-end; */
}

/* .animal--img {
  width: 25%;
} */

@media screen {
  .animal--img {
    width: 20%;
  }
}

@media screen and (min-width: 576px) {
  .animal--img {
    width: 20%;
  }
}

@media screen and (min-height: 650px) {
  .animal--gallery {
    margin-top: 30px;
  }
}
