header {
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 20px;
  left: 25px;
  width: 7rem;
  height: 7rem;
  background-image: url('img/logo.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
