.map-selected {
  fill: #bbb934;
}

.map-unselected {
  fill: #aa9069;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
  fill: #bbb934;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
