.map__container--selected {
  fill: #bbb934;
}

.map__container--unselected {
  fill: #aa9069;
}

.map__container--selected:hover,
.map__container--unselected:hover {
  cursor: pointer;
  fill: #bbb934;
}

.map__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
