.modal--container {
  margin: 70px auto;
  color: black;
  font-weight: bold;
  width: 90vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.modal--btn {
  position: absolute;
  top: 3px;
  right: 3px;
  border: 1px solid black;
}

.modal--container__true {
  background-color: hsla(194, 58%, 77%, 0.719);
}

.modal--container__false {
  background-color: hsla(4, 61%, 73%, 0.719);
}
