.modal__container {
  margin: 70px auto;
  color: black;
  font-weight: bold;
  width: 90vw;
  height: 70vh;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.modal__text {
  padding: 0 15px;
}

.modal__btn {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 1rem;
  font-family: Arial;
  width: 30px;
  height: 30px;
  border-width: 1px;
  color: rgba(0, 0, 0, 1);
  border-color: rgba(20, 93, 119, 1);
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  text-shadow: 0px 1px 0px rgba(88, 156, 182, 1);
  background: linear-gradient(rgba(239, 245, 246, 1), rgba(192, 199, 201, 1));
}

.modal__btn:hover {
  background: linear-gradient(rgba(192, 199, 201, 1), rgba(239, 245, 246, 1));
}

.modal__container--true {
  background-color: hsla(194, 58%, 77%, 0.719);
}

.modal__container--false {
  background-color: hsla(4, 61%, 73%, 0.719);
}
