.signboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signboard__bg {
  position: relative;
}

.signboard__content {
  color: black;
  position: absolute;
  top: 15%;
  left: 43%;
}

@media screen {
  .signboard {
    height: 100vw;
    padding: 0px;
  }
  .signboard__bg {
    width: 100%;
  }
  .signboard__title {
    font-size: 1rem;
    margin: 0;
  }
  .signboard__content p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 576px) {
  .signboard {
    height: 90vh;
    padding: 20px;
  }
  .signboard__bg {
    width: 90%;
  }
  .signboard__title {
    font-size: 1.5rem;
  }
  .signboard__content {
    left: 45%;
  }
  .signboard__content p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .signboard {
    height: 80vh;
    padding: 40px;
  }
  .signboard__bg {
    width: 60%;
  }
  .signboard__title {
    font-size: 2rem;
  }
  .signboard__content p {
    font-size: 1rem;
  }
}
