.signboard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signboard-bg {
  position: relative;
}

.signboard-content {
  color: black;
  position: absolute;
  top: 15%;
  left: 43%;
}

@media screen {
  .signboard {
    height: 100vw;
    padding: 0;
  }
  .signboard-bg {
    width: 100%;
  }
  .signboard-content__title {
    font-size: 1rem;
    margin: 0;
  }
  .signboard-content p {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 576px) {
  .signboard {
    height: 90vh;
    padding: 20px;
  }
  .signboard-bg {
    width: 90%;
  }
  .signboard-content__title {
    font-size: 1.5rem;
  }
  .signboard-content {
    left: 45%;
  }
  .signboard-content p {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .signboard {
    height: 80vh;
    padding: 40px;
  }
  .signboard-bg {
    width: 60%;
  }
  .signboard-content__title {
    font-size: 2rem;
  }
  .signboard-content p {
    font-size: 1rem;
  }
}
