.instruction__list {
  width: 90%;
  margin: 30px auto;
  background-color: hsla(231, 40%, 35%, 0.344);
  border-radius: 20px;
  padding: 5px 5px;
}

.instruction__list h2 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 20px;
}

.instruction__list li {
  font-size: 1rem;
  padding-bottom: 15px;
}

.form__input {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  margin-top: 80px;
}
.input input {
  width: 120px;
}

@media screen {
  .instruction__list {
    width: 90%;
  }
  .buttonClass {
    margin: 2% 0 0 30%;
  }
}

@media screen and (min-width: 576px) {
  .instruction__list {
    width: 470px;
  }
}

@media screen and (min-width: 768px) {
  .instruction__list {
    width: 500px;
    margin-top: 20px;
  }
  .instruction__list li {
    padding-bottom: 30px;
  }
  .form__input {
    padding: 15px;
  }
}
